#die {
  height: 100px;
  width: 100px;
  background-color: rgb(219, 13, 13); /* Feel free to customize */
  position: relative;
  top: 25px;
}
#die2 {
  height: 100px;
  width: 100px;
  background-color: rgb(219, 13, 13); /* Feel free to customize */
  position: relative;
  left: 100px;
  top:25px;
}
#button1 {
  position: absolute;
  border: inline;
  top: 175px;
  color: gold;
}
#roll {
  color: gold;
}
body {
      background-image: url('http://t1.gstatic.com/images?q=tbn:ANd9GcR2L_APXfwY_SjdfoWiNB0MwGB4J9Z1nsSRK792dcj7PSZQNPIWpJfyPlsv3q6lb5OL0Yybc1f6');
      background-repeat: no-repeat;
      background-size: cover;
      background-attachment: fixed;
} 
#sum {
  position: absolute;
  left: 110px;
  top: 10px;
}
#page {
  position: absolute;
  left: 600px;
  top: 500px;
  border: inline;
}